<%# 個別ユーザ表示画面 %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
  <%#= binding.pry %>
  <%# @userはid,name,email,password_digest,created_at,updated_at %>
</h1>

<%# ここから追加 %>
<div class="container" style="font-size:medium">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
      Location:<br>
      <div class="panel panel-default">
      <div class="panel-body">
        <%= @user.location %>
      </div>
      </div>
      Profile:<br>
      <div class="panel panel-default">
      <div class="panel-body">
        <%= @user.profile %>
      </div>
      </div>
    </div>
  </div>
</div>